.navbar {
    display: flex;
    width: 100vw;
    border-right: 2px solid black;
    min-height: 80px;
    background-color: #131515;
    justify-content: center;
    color: #faf9f9;
    align-items:center;
    position: sticky;
    gap: 100px;
    top: 0;
    z-index: 100;
    border-bottom: 2px solid purple;
}

.navbar button {
    color: #faf9f9;
    background:none;
    border:none;
    cursor: pointer;
    font-size: 20px;
}

.icons {
  position: absolute;
  left: 20px;
  display: flex;
  gap: 20px;
}

