* {
    margin: 0;
    padding: 0;
    font-family: inherit;		
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(2, 41, 79), rgb(9, 14, 16) 30%);
    background-repeat: no-repeat;
    color: white
}

body::-webkit-scrollbar {
    width: 0;
  }

.content {
    width: 100vw;
}

.home p {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    letter-spacing: 2px;
    opacity: 0; 
    animation: fadeInUp 5s ease forwards;
}

.home {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    text-align: center; /* Szöveg középre igazítása */
    padding: 50px 0;
}

.navbar {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #131515;
    justify-content: center;
    color: #faf9f9;
    align-items:center;
    position: sticky;
    gap: 100px;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #dee2e6;
}

.navbar button {
    color: #faf9f9;
    background:none;
    border:none;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: rgb(2, 41, 79)
}

.icons {
  position: absolute;
  left: 20px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.icons a {
    border: 1px solid white;
    padding: 3px;
    color: white;
    background-color: #131515;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}


.icons a:hover {
    color: black;
    background-color: white;
}

.icon {
    display: inline-block;
    font-size: 20px;
}



.navbar-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .toggle-menu {
    position: absolute;
    display: flex;
    width: 100%;
    height: 350px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    top: 80px;
  }

  .toggle-menu li {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .toggle-menu li:hover {
    background-color: rgb(2, 41, 79)
  }

  .text img {
    width: 250px;
    max-width: 300px;
    height: 300px;
}

.about {
    width: 100%;
    height: 100vh;
    border-top: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px 100px;
  gap: 30px;
}

.about h2 {
  position: absolute;
  top: 70px;
}


.skills {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dee2e6;
    font-size: 24px;
}

.skills .hardskills {
    width: 50%;
    height: 100%;
    border-right: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
}

.skills .softskills {
    width: 50%;
    height: 100%;
}


ul {
  list-style-type: none;
}
.skill {
  display: inline-block;
  margin-right: 25px;
  text-align: center;
}
.skill p {
  font-size: 10px;
}
.skill svg {
 font-size: 40px;
}

.projects {
    width: 100%;
    height: 50vh;
    border-top: 1px solid #dee2e6;
}


@media only screen and (max-width: 875px) {
    .navbar button {
      display: none; /* Menü alapértelmezett rejtése kisebb képernyőméretnél */
    }
  
    .navbar-toggle {
      display: flex; 
      position: absolute;
      right: 15px;
    }
  }


  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px); /* Felfelé elmozdítás */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Vissza az eredeti helyzetbe */
    }
  }